:root {
    --p-bg-clr: #1d1421;
    --p-br-clr: rgb(221, 228, 222);
    --shad-clr: #7FFFD3;
    --p-text-clr: white;
}
body {
    background-color: var(--p-bg-clr);
}
.app {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-color: var(--p-bg-clr);
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0 0 0 0;
    color: var(--p-text-clr);
    background-color: var(--p-bg-clr);
}
.header > p {
    font-size: 2em;
    padding: 0%;
    margin: 0;
}
.addForm {
    margin: 0 0 0 0;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
}
.addForm label {
    position: absolute;
    left: -99999999999px;
}
.input{
    padding: 0.3rem;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
    border: solid 0.1px var(--p-br-clr);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-top: none;
    border-right: none;
}
.input:focus {
    outline: 0;
}
.addForm button {
    border: 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 0 0 0 1rem;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    color: var(--p-bg-clr);
    border: 1px solid var(--p-bg-clr);
}
.addForm button:focus {
    outline: 0;
}
.addForm button:hover {
    color: var(--p-text-clr);
    background-color: var(--p-bg-clr);
    border: 1px solid var(--p-br-clr);
}
.searchForm {
    margin: 0 0 0 0;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: center;   
}
.searchForm:focus {
    outline: 0;
}
.searchForm label {
    position: absolute;
    left: -99999999999px;
}
.searchForm input {
    padding: 0.3rem;
    font-size: 1em;
    letter-spacing: 1.5px;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
    border: solid 0.1px var(--p-br-clr);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-top: none;
    border-bottom: none;
    min-width: 80%;
}
.content {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
}
ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
    font-size: 1em;

}
.item {
    padding: 0.7rem 0 0.5rem 0;
    width: 100%;
    border-bottom:  0.1px solid rgba(108, 103, 103, 0.445);
}
.item input {
    padding-left: 1rem;
    margin: 0 1rem 0 1rem;
} 
.item label {
    padding-right: 1rem;
} 
.item label:hover {
    color: #6d61dd;
}
.faTrash {
    padding: 0;
    margin: 0 1rem 0 0.3rem;
    
}
.faTrash:hover,
.faTrash:focus {
    color: red;
    outline: 0;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p-bg-clr);
    color: var(--p-text-clr);
}

@media (min-width: 500px) {
.app {
    max-width: 1000px;
}
.header{
    padding: 1rem;
}
.header > p {
    font-size: 3em;
}
.input{
    padding: 0.5rem;
    font-size: 1.5em;
    min-width: 80%;
}
.addForm button {
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0 0 0 2rem;
}
.searchForm {
    padding: 1rem 0 1rem 0;
}
.searchForm input {
    padding: 0.6rem;
}
.item {
    min-width: 90%;
}
.item label {
    min-width: 50%;
}
}